body {

}

#nav {
    background-color: white;
    width: 100%;

}

.nav-item {
    margin: 2px;
}

#upperHeader {
    height: 4.5em;
    padding: 10px 0px;

}

#logo {
   background: url(https://img.s3.chocolife.me/static/upload/images/css/header.png?v=6) no-repeat;
    background-position: -180px -320px;
    height: 100%;

}

#lowerHeader {
    padding: 3px 0px;

}

#sortBar {

    border-radius: 7px;
    border: 2px solid #ffc107;
}

#cards .row .card {
    /*margin-left:3px;
    margin-right:3px;*/
    height: 500px;
}

.cardImg {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#zoo .card-body {
    background-image: url(https://static.chocolife.me/static/upload/images/deal/for_deal_page/38000/37635/310x240/9_201708220181715033867176401.JPG);
    background-position: left;
    background-size: contain;
}

#circus .card-body {
    background-image: url(https://static.chocolife.me/static/upload/images/deal/for_deal_page/40000/39969/660x305/1_201801250513815168795988173.JPG);
    background-size: contain;
}

.divider {
    border: 1px solid #6c757d;
    border-radius: 10px;
    margin-bottom: 5px;

}

#appAndroid {
    background-image: url(https://chocolife.me/static/img/frontend/footer/footer.png);
    background-position: 0px 0px;
    padding: 10px 65px;
}

#appIos {
    background-image: url(https://chocolife.me/static/img/frontend/footer/footer.png);
    background-position: 0 -364px;
    padding: 10px 65px;
    margin-top: 10px;
}

footer {
    margin-top: 10px
}

#act1 .card-body {
    background-image: url(https://img.s3.chocolife.me/static/upload/images/deal/for_plate/36779.jpg?v=1513356169);
    background-size: contain;
}

#act2 .card-body {
    background-image: url(https://img.s3.chocolife.me/static/upload/images/deal/for_plate/39540.jpg?v=1514292623);
    background-size: contain;
}

/*zoo.html*/
#dateCap p {
    font-size: 0.8em;
}
